@import url("https://fonts.googleapis.com/css?family=Lato:400,900|Open+Sans+Condensed:300&display=swap");

:root {
  --main-color: #fdde7e;
  --list-color: #ffffff;
  --font-color: #02995b;
  --text-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.6s ease-in;
}
body {
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__list {
  max-width: 1024px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  
}
.card {
  background: var(--list-color);
  text-align: center;
  padding: 24px 90px;
  width: 33,3%;
}
.card:not(:last-child) {
  margin-right: 24px;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.card__image {
  padding-top: 23px;
  margin-bottom: 32px;
}
.card__cost {
  font-size: 4.4rem;
  font-weight: 900;
  font-family: "Open Sans Condensed";
  color: var(--font-color);
  margin-bottom: 1rem;
}
.card__title {
  font-size: 3.5rem;
  font-weight: 2.2rem;
  font-family: "Open Sans Condensed";
  color: var(--text-color);
}
.card__text {
  font-family: Lato;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--text-color);
}
